<section class="section section--theme-dark contact">
  <h2 class="section__header text-center">Kontakt</h2>

  <p class="text-center contact-method">
    <img class="contact-img" src="/assets/img/contact/mail.svg" alt="">
    <img src="/assets/img/contact/email-address.svg" alt="">
  </p>

  <p class="text-center contact-method">
    <img class="contact-img" src="/assets/img/contact/phone.svg" alt="">
    91 83 38 35
  </p>

  <div class="other text-center">
    <a href="https://github.com/mortenvn">
      <img class="contact-img" src="/assets/img/contact/github.svg" alt="Github">
    </a>

    <a href="https://www.linkedin.com/in/noddeland/">
      <img class="contact-img" src="/assets/img/contact/linkedin.svg" alt="LinkedIn">
    </a>

    <a href="https://twitter.com/mortenvn">
      <img class="contact-img" src="/assets/img/contact/twitter.svg" alt="Twitter">
    </a>
  </div>
</section>
