<header class="background-logo">
  <h1 class="hide">MVN</h1>

  <p class="tagline js-header-tagline">Morten Vaale<br> Noddeland</p>

  <div class="mountain-wrapper">
    <img src="/assets/img/header/mountain-1.svg" alt="" class="mountain js-mountain-middle">
    <img src="/assets/img/header/mountain-2.svg" alt="" class="mountain js-mountain-right-5">
    <img src="/assets/img/header/mountain-3.svg" alt="" class="mountain js-mountain-left-2">
    <img src="/assets/img/header/mountain-4.svg" alt="" class="mountain js-mountain-left-1">
    <img src="/assets/img/header/mountain-5.svg" alt="" class="mountain js-mountain-right-4">
    <img src="/assets/img/header/mountain-6.svg" alt="" class="mountain js-mountain-right-3">
    <img src="/assets/img/header/mountain-7.svg" alt="" class="mountain js-mountain-right-2">
    <img src="/assets/img/header/mountain-8.svg" alt="" class="mountain js-mountain-right-1">
  </div>
</header>
