<header>
  <h1>MVN</h1>
  <p class="tagline">Morten Vaale<br> Noddeland</p>

  <div class="mountain-container">
    <img src="/assets/img/header/mountain-1.svg" alt="" class="mountain m-middle">
    <img src="/assets/img/header/mountain-2.svg" alt="" class="mountain m-right-5">
    <img src="/assets/img/header/mountain-3.svg" alt="" class="mountain m-left-2">
    <img src="/assets/img/header/mountain-4.svg" alt="" class="mountain m-left-1">
    <img src="/assets/img/header/mountain-5.svg" alt="" class="mountain m-right-4">
    <img src="/assets/img/header/mountain-6.svg" alt="" class="mountain m-right-3">
    <img src="/assets/img/header/mountain-7.svg" alt="" class="mountain m-right-2">
    <img src="/assets/img/header/mountain-8.svg" alt="" class="mountain m-right-1">
  </div>
</header>