<section class="alt-section">

  <h2>Kompetanse</h2>

  <div class="skill-group">
    <div class="skill">
      <img src="/assets/img/roundicon-office-12.svg" alt="">
      <h3>Planlegging</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eius ipsa iusto, quasi molestias rerum vitae, necessitatibus rem, harum optio maxime. Fuga ab repellendus nulla incidunt voluptates, facilis, enim nemo!</p>
    </div>

    <div class="skill">
      <img src="/assets/img/roundicon-graphic-design-tools-04.svg" alt="">
      <h3>Design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eius ipsa iusto, quasi molestias rerum vitae, necessitatibus rem, harum optio maxime. Fuga ab repellendus nulla incidunt voluptates, facilis, enim nemo!</p>
    </div>

    <div class="skill">
      <img src="/assets/img/roundicon-seo-06.svg" alt="">
      <h3>Utvikling</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eius ipsa iusto, quasi molestias rerum vitae, necessitatibus rem, harum optio maxime. Fuga ab repellendus nulla incidunt voluptates, facilis, enim nemo!</p>
    </div>
  </div>


</section>