<section class="section-dark">

  <h2>Arbeid</h2>

  <div class="projects">
    <div class="project">
      <div class="project-image">
        <div class="browser">
          <div class="close"></div>
          <div class="minimize"></div>
          <div class="maximize"></div>
          <div class="menu">☰</div>
        </div>
        <img src="/assets/img/work/instabart.png" alt="Skjermbilde av instabart.no">
      </div>
      <div class="project-description">
        <h3>Instabart</h3>
        <time>2013</time>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quod, voluptate facere, veritatis corporis quos nostrum nisi esse cum cupiditate in</p>
      </div>
    </div>

    <div class="project project-reverse-content">
      <div class="project-image">
        <div class="browser">
          <div class="close"></div>
          <div class="minimize"></div>
          <div class="maximize"></div>
          <div class="menu">☰</div>
        </div>
        <img src="/assets/img/work/gjensidige2.png" alt="Skjermbilde av prosjektet «IKT på 123»">
      </div>
      <div class="project-description">
        <h3>Gjensidige</h3>
        <time>2014</time>
        <p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quod, voluptate facere, veritatis corporis quos nostrum nisi esse cum cupiditate in</p>
      </div>
    </div>
  </div>

</section>
