<section class="section section--theme-dark">

  <h2 class="section__header text-center">Arbeid</h2>

  <div class="project">
    <div class="project__image">
      <div class="browser">
        <div class="browser__close"></div>
        <div class="browser__minimize"></div>
        <div class="browser__maximize"></div>
        <div class="browser__menu">☰</div>
      </div>
      <img src="/assets/img/work/instabart.png" alt="Skjermbilde av instabart.no">
    </div>
    <div class="project__description">
      <h3 class="project__header">Instabart</h3>
      <time>2013</time>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quod, voluptate facere, veritatis corporis quos nostrum nisi esse cum cupiditate in</p>
    </div>
  </div>

  <div class="project project--flip-content">
    <div class="project__image">
      <div class="browser">
        <div class="browser__close"></div>
        <div class="browser__minimize"></div>
        <div class="browser__maximize"></div>
        <div class="browser__menu">☰</div>
      </div>
      <img src="/assets/img/work/gjensidige2.png" alt="Skjermbilde av prosjektet «IKT på 123»">
    </div>
    <div class="project__description">
      <h3 class="project__header">Gjensidige</h3>
      <time>2014</time>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quod, voluptate facere, veritatis corporis quos nostrum nisi esse cum cupiditate in</p>
    </div>
  </div>

</section>
