# Project output folders
_site
_production
src/assets/css/

# Hide the Rsync credentials file
rsync-credentials.json

# Sass
.sass-cache

# Packages
node_modules/*

# This might be a bad idea
gemfile.lock

# OS X
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Windows
Desktop.ini
ehthumbs.db
Thumbs.db

# Linux
#.*
*~
*.sw[a-p]
!*.swf

# Log
*.log