{% extends 'base.html' %}
{% load thumbnail %}

{% block app %}music{% endblock %}
{% block title %}Musikk{% endblock %}

{% block css %}
<link type="text/css" href="{{ STATIC_URL }}base/scripts/jplayer/skin/jplayer.blue.monday.css" rel="stylesheet" >
<link type="text/css" href="{{ STATIC_URL }}base/scripts/jplayer/skin/jplayer.mvn.css" rel="stylesheet" >
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/jplayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    {% for album in albums %}
	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
		{% for song in album.song_set.all|dictsort:"track_number" %}
        {
			title: "{{ song.title }}",
			{% if song.artist %}
            artist: "{{ song.artist }}",
            {% endif %}
			m4a:"{{ MEDIA_URL }}{{ song.m4a }}"
		},
		{% endfor %}
	], {
		playlistOptions: {
			displayTime: 0
    	},
		swfPath: "{{ STATIC_URL }}base/scripts/jplayer",
		supplied: "m4a", //"oga",
		wmode: "window",
	});
    {% endfor %}
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="no-sidebar">
    <h1>Musikk</h1>
    <p class="meta">Klassisk musikk spilt inn for moro skyld</p>
    {% for album in albums %}
    <div class="highslide-gallery albumcover">		 	
        {% for cover in album.coverphoto_set.all|dictsort:"image_number" %}
            <a href="{{ MEDIA_URL }}{{ cover.photo }}" class="highslide" onclick="return hs.expand(this)">
	        {% if forloop.first %}
            <img src="{% thumbnail cover.photo 200x200 crop='smart' %}"  alt="Highslide JS"
            title="Klikk på bildet for å forstørre"></a>
            {% else %}
            <img src="{% thumbnail cover.photo 98x98 crop='smart' %}"  alt="Highslide JS"
            title="Klikk på bildet for å forstørre" class="{% cycle 'left' 'right' %}"></a>
            {% endif %}
    {% endfor %}
    </div>
    
    <div class="musicplayer">
        <h3>{{ album.name }}</h3>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            {% include 'music/jplayer.html' %}
        </div>
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
