{% extends 'base.html' %}

{% block app %}music{% endblock %}
{% block title %}Musikk{% endblock %}

{% block css %}
<link type="text/css" href="{{ STATIC_URL }}base/scripts/jplayer/skin/jplayer.blue.monday.css" rel="stylesheet" >
<link type="text/css" href="{{ STATIC_URL }}base/scripts/jplayer/skin/jplayer.mvn.css" rel="stylesheet" >
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/jplayer/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
		{
			title:"Preludium i ciss-moll",
			artist: "Rachmaninov",
			m4a:"{{ MEDIA_URL }}music/preludium.m4a"
			//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"Illusion",
			artist: "Edvard Grieg",
			m4a:"{{ MEDIA_URL }}music/illusion.m4a"
			//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"Menuet",
			artist: "Haydn",
			m4a:"{{ MEDIA_URL }}music/menuet.m4a"
			//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"Marche Funèbre",
			artist: "Chopin",
			m4a:"{{ MEDIA_URL }}music/marchefunebre.m4a"
			//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		{
			title:"Kjempeviseslåtten",
			artist: "Harald Sæverud",
			m4a:"{{ MEDIA_URL }}music/kjempeviseslatten.m4a"
			//oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
		},
		
	], {
		playlistOptions: {
			displayTime: 0
    	},
		swfPath: "{{ STATIC_URL }}base/scripts/jplayer",
		supplied: "m4a",
		wmode: "window",
	});
});

</script>
{% endblock %}

{% block content %}
<div id="content" class="no-sidebar">
<h1>Musikk</h1>
<p class="meta">Klassisk musikk spilt inn for moro skyld</p>
<div class="highslide-gallery albumcover">		 	
		<a href="{{ MEDIA_URL }}music/forside.jpg" class="highslide" onclick="return hs.expand(this)">
		<img src="{{ MEDIA_URL }}music/forside-200.jpg"  alt="Highslide JS"
				title="Klikk på bildet for å forstørre" /></a>
		<a href="{{ MEDIA_URL }}music/innside.jpg" class="highslide" onclick="return hs.expand(this)">
		<img src="{{ MEDIA_URL }}music/innside-98.jpg" alt="Highslide JS" class="left"
				title="Klikk på bildet for å forstørre" /></a>
		<a href="{{ MEDIA_URL }}music/bakside.jpg" class="highslide" onclick="return hs.expand(this)">
		<img src="{{ MEDIA_URL }}music/bakside-98.jpg" alt="Highslide JS" class="right"
				title="Klikk på bildet for å forstørre" /></a>
</div>

<div style="float: left; margin-left: 20px;">
<h3>Klassisk møl</h3>

{% include 'music/jplayer.html' %}

</div>
<div class="clear"></div>
</div>
{% endblock %}