//------------------------------------------------
// COLORS
//------------------------------------------------
$accent: #6b91c0;
$accent-light: #98bde7;
$accent-dark: #42526c;
$selectionColor: lighten($accent, 35%);

$textColor: #666;
$headlineColor: #333;
$backgroundColor: #dae6f2;
$documentBackgroundColor: #fff;