{% extends 'base.html' %}
{% load thumbnail %}

{% block app %}photos{% endblock %}

<!-- Hooverzoom dependencies -->
{% block css %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/hooverzoom.css">{% endblock %}
{% block scripts %}<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/hooverzoom.jquery.js"></script>{% endblock %}

{% block title %}Fotoalbum{% endblock %}

{% block content %}
	<div id="content" class="no-sidebar">
		<h1>Fotoalbum</h1>
		<p class="meta">Klikk på et bilde for å åpne albumet</p>
		{% for album in albums %}		 		
		<div class="viewport {% cycle '' 'no-margin' %}">
	        <a href="album/{{ album.id }}">
	            <span class="dark-background">{{ album.name }}</span>
	            <img src="{% thumbnail album.cover 525x349 crop='smart' %}" alt="Natur" />
	        </a>
	    </div>
		{% endfor %}
	</div>
{% endblock %}