.avatar {
  border-radius: 50%;
  width: 200px;
  background-color: $color-shell;
  margin: 0 auto;
  display: block;
}

.blurb {
  font-size: $font-size-large;
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 150px;
  }

  .blurb {
    font-size: 2rem;
    margin-top: 25px;
  }
}
