header {
  background-color: $color-iceberg;
}

.background-logo {
  padding-top: 94px;
  background-image: url(../img/header/mvn-logo.svg);
  background-repeat: no-repeat;
  background-position: center 35px;
  background-attachment: fixed;
}

.tagline {
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
  color: $color-fjord;
  font-size: 2.5rem;
}

.mountain-wrapper {
  position: relative;
  padding-bottom: 10vw;
  overflow: hidden;
}

.mountain {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .background-logo {
    background-size: 112px 39px;
    background-position: center 25px;
    padding-top: 70px;
  }

  .tagline {
    font-size: 1.9rem;
  }
}
