header {
  background-color: $backgroundColor;
  background-image: url(../img/mvn-logo.svg);
  background-repeat: no-repeat;
  background-position: center 38px;
  background-attachment: fixed;
  overflow: hidden;

  .mountain-container {
    position: relative;
    padding-bottom: 10vw;
    overflow: hidden;
  }

  .mountain {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  h1 {
    padding-top: 40px;
    text-align: center;
    line-height: 0.8;
    color: $accent-dark;
    visibility: hidden;
  }

  .tagline {
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    color: $accent;
    font-size: 2.5rem;
    margin-top: 5px;
  }

  @media screen and (max-width: 600px) {
    background-size: 112px 39px;

    h1 {
      font-size: 5rem;
      padding-top: 30px;
    }
    .tagline {
      font-size: 1.9rem;
    }
  }
}