.project {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
}

.project--flip-content {
  flex-direction: row-reverse;
}

//------------------------------------------------
// PROJECT IMAGE
//------------------------------------------------
.project__image {
  width: 60%;

  img {
    @extend %box-shadow;
    width: 100%;
    display: block;
  }
}

//------------------------------------------------
// PROJECT DESCRIPTION
//------------------------------------------------
.project__description {
  width: 40%;
  padding: 0 0 0 40px;

  .project--flip-content & {
    padding: 0 40px 0 0;
  }

  time {
    display: block;
    color: $color-bermuda;
  }
}

.project__header {
  line-height: 1;
  font-family: $font-primary;
  font-size: $font-size-large;

  .section--theme-dark & {
    color: $color-bermuda;
  }
}

//------------------------------------------------
// BROWSER BAR
//------------------------------------------------
.browser {
  @extend %box-shadow;
  background-color: $color-mine-shaft;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 25px;
}

.browser__close, .browser__minimize, .browser__maximize {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.browser__close {    background-color: $color-bittersweet; }
.browser__minimize { background-color: $color-saffron; }
.browser__maximize { background-color: $color-emerald; }

.browser__menu {
  float: right;
  color: $color-dim-gray;
}
