{% extends 'base.html' %}
{% load thumbnail %}

{% block app %}about{% endblock %}
{% block title %}Om meg{% endblock %}


{% block content %}
<div id="content" class="no-sidebar">
    <h1>Om meg</h1>
    <p class="meta">Litt informasjon om meg, klinisk rensket for saftige detaljer</div>
    
    {% if about %}
    <div class="highslide-gallery left about-portrait">
        <a href="{{ MEDIA_URL }}{{ about.portrait }}" class="highslide" onclick="return hs.expand(this)">
        <img src="{% thumbnail about.portrait 0x300 %}" alt="Highslide JS"
             title="Klikk på bildet for å forstørre" /></a>
    </div>
    <div class="about-text">
        {{ about.text|safe }}
    </div>
    {% endif %}
</div>
{% endblock %}
