{% extends "base.html" %}
{% load thumbnail %}
{% block app %}home{% endblock %}

{% block title %}Hjem{% endblock %}

{% block content %}
<div id="content">
	{% for entry in entries %}
	<article class="{% cycle '' 'alt' %}">
		<h2>{{ entry.headline }}</h2>
		<p class="meta date">{{ entry.created }}</p>
		<p>{{ entry.body|safe }}</p> 	
		<div class="highslide-gallery">
		{% for image in entry.image_set.all %}		 	
			<a href="{{ MEDIA_URL }}{{ image.image }}" class="highslide" onclick="return hs.expand(this)">
			<img src="{% thumbnail image.image 298x200 crop='smart' %}" alt="{{ image.caption}}"
					title="Klikk på bildet for å forstørre" /></a>
		{% endfor %}
		</div>
		{% for video in entry.youtube_set.all %}
			<iframe width="600" height="335" src="http://www.youtube.com/embed/{{ video.videoid }}" frameborder="0" allowfullscreen></iframe>
		{% endfor %}
	</article>
	{% endfor %}
</div>
{% endblock content %}

{% block sidebar %}
<aside>
	<h3>Eh! Hvor er jeg?</h3>
	<p>«mvn» står for Morten Vaale Noddeland og dette er med andre ord nettsiden min.</p>
	<p>Det finnes mange (gode?) grunner til å ta en titt på denne nettsiden. Kanskje er vi gamle bekjente og du lurer på hva jeg driver med for tida. Kanskje du vurderer å ansette meg og lurer på hva i huleste dette er for en slamp. Eller kanskje du simpelthen finner glede i å forfølge folk. Jeg dømmer ikke, du er uansett velkommen!</p>
</aside>
{% endblock %}