/* 
	AUTHOR: Morten Vaale Noddeland
			morten@noddeland.no
			www.twitter.com/mortenvn
			www.mvn.no
*/

@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,700);

/* RESET & BASIC STYLING */
* { margin: 0; padding: 0; }
html {
    overflow-y: scroll;
}
body {
	font-family: Helvetica, Arial, Sans-Serif;
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis", "Trebuchet MS", Verdana, Sans-Serif;
	color: #a43f3f;
	margin-bottom: 5px;
	font-weight: normal;
}
h2 {
	font-size: 2.0em;
}
h3 {
	font-size: 1.5em;
}
p {
	margin-bottom: 1em;
}
	p.meta {
		color: #333;
		font-size: 0.9em;
		margin-bottom: 20px;
		font-weight: bold;
	}
	p.date {
		background-image: url(/static/base/images/icons/calendar_16.png);
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 23px;
	}

ul {
	padding-left: 20px;	
}

a[href] { 
	outline: none; 
	text-decoration: none;
	color: #5985c8;
}
	a img {
		border: none;
	}
	a[href]:hover {
	color:#a43f3f;
	}

/* TOOLS */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
/* END TOOLS */

/* SITE STRUCTURE */
/* Needed to make the footer stay on bottom */
html, body { height: 100%; } 

 /* Again, needed for footer */
#pagewrap {
	min-height: 100%;
	margin: 0 auto -150px;
} 

#contentwrap {
	width: 1000px;
	padding: 0 15px 0 15px;
	margin: 0 auto;
}
#content {
	float: left;
	width: 650px;
}
#content.no-sidebar {
	width: 1000px;
}

#photos #content {
	margin-bottom: 40px;
}
div.highslide-gallery {
	clear: both;
}

article {
	padding: 20px;
	margin-bottom: 40px;
}
article.alt {
	background-color: #f7f7f7; 
}

aside {
	float: right;
	width: 250px;
	background-color: #f4f4f4;
	padding: 20px;
	margin-top: 20px;
}
aside h3 {
	font-size: 1.8em;
}

.albumcover {
	width: 202px;
	float: left;
}

.albumcover img {
	display: block;
	margin-bottom: 3px;
}

.musicplayer {
    float: left;
    margin-left: 20px;
}

.musicalbum {
    margin-bottom: 40px;
}

.about-text {
}

.about-portrait {
    margin-right: 10px;
    margin-bottom: 10px;
}
