footer, .push {
	height: 150px;
	clear: both;
}
footer {
	min-width: 1050px;
	width: 100%;
	background: #1c1c1c;
	background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#3c3c3c));
	background: -moz-linear-gradient(top, #1c1c1c, #3c3c3c);
}
#footerwrap {
width: 1000px;
margin: 0 auto;
padding-top: 35px;
}
.widthpusher {
	float: left;
	width: 50px;
	height: 50px;

}
#column1 {
	float: left;
	width: 250px;
}
#column2 {
	float: left;
	width: 270px;
}
#column3 {
	float: left;
	width: 350px;
}

#footerwrap { 
	font-family: "Trebuchet MS"; 
	color: #e7e7e7;
}
#footerwrap h4 {  
	font-size: 1.1em; 
	margin-bottom: 0;
}
#footerwrap ul {
	float: left;
	padding-left: 0;
	padding-right: 75px;
	font-size: 0.9em;
}
#footerwrap ul li{ list-style: none; }
#footerwrap ul a {
	color: white;
	font-weight: bold;
}
#footerwrap ul a:hover { color:#8da7ce; background: none; }


.quote {
	background: url(/static/base/images/icons/quote2.png) no-repeat;
	padding-left: 60px;
	padding-top: 4px;
	min-height: 50px;
}
.quote p {
	font-style: italic;
	font-family: georgia, serif;
	color: #888;
}
blockquote {
	font-style: italic;
	font-family: georgia, serif;
}