/*** HOVER ZOOM - by Matt Bango (http://mattbango.com/notebook/web-development/hover-zoom-effect-with-jquery-and-css/)

/* --- viewport configuration ---------------------------------------------------------- */
.viewport {
    border: 3px solid #eee;
    float: left;
    height: 322px;
    margin: 0 9px 9px 0;
    overflow: hidden;
    position: relative;
    width: 485px;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
}

.viewport a img {
    height: 349px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 525px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    /*display: none;*/
    font-family: 'Dosis', sans-serif;
    font-size: 2.0em;
    font-weight: 200;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }

/* --- Light hover background ----------------------------------------------------------- */
.light-background {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    text-shadow: #fff 0px 0px 20px;
}
    .light-background em {
        color: #707070;
    }

/**
 * You could create multiple hover background classes for different looks depending on the
 * image type. Use your imagination!
 */