{% extends 'base.html' %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}base/css/404.css" type="text/css" rel="stylesheet">
{% endblock css %}

{% block title %}Error 404{% endblock%}
{% block content %}
<div id="content" class="no-sidebar">
    <h1>Omnomnom... 404</h1>
    <p>Nettsiden du prøver å laste finnes ikke. Dette kan ha skjedd av flere grunner:</p>
    <ul>
        <li>Ressursen har skiftet navn</li>
        <li>Du kan ikke norsk</li>
        <li>Jeg kan ikke norsk</li>
        <li>Serverrommet er infiltrert</li>
    </ul>

    <p>Ta gjerne <a href="mailto:morten@noddeland.no">kontakt</a> hvis du mener at dette er en feil og ikke bare... du vet... du som failer.</p>
    <img src="{{ STATIC_URL }}base/images/serverbeasts.jpg" id="beasts">
</div>
{% endblock content %}

{% block footer %}{% endblock %}
