<!DOCTYPE HTML>
<html>
<head>
	<!-- Title and icon -->
	<title>{% block title %}{% endblock %} | mvn -> Morten Vaale Noddeland</title>
	<link rel="icon" type="image/ico" href="{{ STATIC_URL }}base/images/favicon.ico">
	
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="author" content="Morten Vaale Noddeland">
	<meta name="description" content="mvn -> Morten Vaale Noddeland sin nettside">
	<meta name="keywords" content="morten, vaale, noddeland">
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/base.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/nav.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/footer.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/css/buttons.css">
	
	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	
	<!-- Highslide image viewer -->
	<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/highslide/highslide-with-gallery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}base/scripts/highslide_settings.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/scripts/highslide/highslide.css">
	
	{% block css %}{% endblock %}
	{% block scripts %}{% endblock %}
</head>

<body id="{% block app %}{% endblock %}">
	<div id="pagewrap">
		{% block header %}{% include "nav.html" %}{% endblock %}
		<div id="contentwrap">
			{% block content %}{% endblock %}
			{% block sidebar %}{% endblock %}
			<div class="push"></div>
		</div> <!-- End content !-->
	</div> <!-- End pagewrap !-->
	{% block footer %}{% include "footer.html" %}{% endblock %}
</body>
</html>
