<header>
	<div id="headerwrap">
		<img id="logo" src="{{ STATIC_URL }}base/images/mvn_logo.png" alt="mvn - Morten Vaale Noddeland">
		<div id="social"> 
			<ul>
				<li class="rss"><a href="/feed/">RSS</a></li>
				<li class="facebook"><a href="http://www.facebook.com/mortenvn">Facebook</a></li> 
				<li class="twitter"><a href="http://twitter.com/mortenvn">Twitter</a></li>
				<li class="mail"><a href="mailto:morten@noddeland.no">Email</a></li>
			</ul>
		</div>
		<nav>
			<a href="/" class="home">Hjem</a>
			<a href="/bilder/" class="photos">Bilder</a>
			<a href="/musikk/" class="music">Musikk</a>
			{# <a href="/cv/" class="about">CV</a>#}
			<a href="/ommeg/" class="about">Om meg</a>
		</nav>
	</div>
</header>
