---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <!-- CSS -->
  <!-- build:css /assets/css/main.min.css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endbuild -->
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>
<body>

  {% include header.html %}

  <h1>Mens vi venter på bedre innhold...</h1>
  <h3>Det er jo love å håpe at det dukker opp noe innhold på et tidspunkt</h3>

<section class="alt-section">
  <p>Dette er en <a href="#">lenke</a></p>
</section>

  {% include footer.html %}


  <!-- JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- build:js /assets/js/main.min.js -->
  <script src="/assets/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>