div.jp-interface {
	
	background-color: white;
	border: none;
}
div.jp-audio div.jp-type-playlist div.jp-interface {
	height: 60px;
}

div.jp-audio,
div.jp-video {
	border: none;

}

div.jp-title,
div.jp-playlist {
	background-color: white;
	border-top: none;
}

div.jp-type-playlist div.jp-playlist a:hover {
	color:#A43F3F;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
	color:#A43F3F;
}

div.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #ddd;
}

/* Control placement */
div.jp-audio div.jp-type-playlist div.jp-progress {
	top: 12px;
	left: 60px;
	width: 215px;
}

div.jp-audio div.jp-type-playlist div.jp-time-holder {
	top: 27px;
	left: 60px;
	width: 215px;
}

div.jp-audio div.jp-volume-bar {
	top: 17px; 
	left: 310px;
}

div.jp-audio div.jp-type-playlist a.jp-mute, div.jp-audio div.jp-type-playlist a.jp-unmute {
	margin-left: 253px;
}

div.jp-audio a.jp-volume-max {
	margin-left: 50px;
}

div.jp-audio ul.jp-controls {
	padding: 0;
}

div.jp-title ul, div.jp-playlist ul {
	padding: 0;
}

div.jp-audio {
	width:380px;
}